# .gitignore

# 1. Python Artifacts (Junk)
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# 2. Large Data Files (NEVER commit these)
data/inputs/*
data/outputs/*
data/save/*
data/safe/*
data/violent/*
data/dataset/*
!data/inputs/.gitkeep
!data/outputs/.gitkeep
!data/inputs/NOTE.txt
!data/outputs/NOTE.txt
!data/outputs/incident_20260223-1641271.mp4
!data/outputs/incident_20260223-1641271-ezgif.com-video-to-gif-converter.gif

# 3. Model Weights (Too big for GitHub)
models/*.pt
models/*.pth
models/*.bin
models/*.safetensors
models/*.json
models/*.txt
models/*.py
!models/Note.txt

# 4. Evidence/Logs
evidence/*
logs/*

# 5. IDE Settings
.vscode/
.idea/