# configs/config.yaml
project_name: "Violence Action Detection"
version: "0.1.0-alpha"

system:
  device: "cuda"           # Options: cuda, cpu, mps
  log_level: "INFO"        # Options: DEBUG, INFO, WARNING, ERROR
  display_resolution: [1280, 720]
  record_indident: true
  pre_event_seconds: 2
  post_event_seconds: 3

paths:
  input_source: "data/inputs/11.mp4"
  output_dir: "data/outputs/"
  model_dir: "models/"

# Phase 1 Settings
detection:
  model_weights: "models/yolov8n.pt" #TODO: will replace with v12n lated
  confidence_threshold: 0.5
  iou_threshold: 0.45
  target_classes: [0]      # COCO ID 0 = Person

# Phase 2: Action Recognition (FreeZAD)
action:
  # Model Architecture Name (Must match OpenCLIP library names)
  model_name: "coca_ViT-L-14"
  alert_trigger_count: 3
  # Path to the .bin file you just downloaded
  weights_path: "models/coca_l14.bin"
  # The window size (Time). 8 frames is the standard for video clips.
  window_size: 8
  # We don't need to analyze every single frame. We skip every 3rd frame to save GPU.
  stride: 4
  # Sensitivity. If score > 0.75, it's a fight.
  threshold: 0.85
  ors_threshold: 0.35
  # The text prompts FreeZAD will search for
  prompts:
    - "a person punching"
    - "people fighting"
    - "two people violently fighting each other"
    - "kicking someone"
    - "person falling down"
    - "shooting with gun"
    - "injured"
    - "a person engaged in normal, non-violent everyday behavior"
    - "normal behavior"

  # The exact strings the State Machine should ignore
  safe_prompts:
    - "normal behavior"
    - "a person engaged in normal, non-violent everyday behavior"

  ui_labels:
    "a person engaged in normal, non-violent everyday behavior": "safe"
    "unknown_benign_activity": "analyzing..."


# Phase 3: Vision-Language Model (Ollama Microservice)
vlm:
  provider: "local" # Toggle between 'local' or 'cloud'
  model_id: "qwen2.5vl:3b"
  cloud_model_id: "qwen-vl-max" # Used if provider is set to 'cloud'
  extraction:
    num_frames: 8
    resize_width: 480
    resize_height: 270
    jpeg_quality: 80
  # The MVP Prompt
  prompt: >
    You are a security AI. Review these chronological frames from a CCTV camera. 
    Is there a violent physical altercation happening? 
    Respond strictly in JSON format with 'threat_detected' (boolean) and 'description' (string).