# configs/config.yaml
project_name: "Violence Action Detection"
version: "0.1.0-alpha"

system:
  device: "cuda"           # Options: cuda, cpu, mps
  log_level: "INFO"        # Options: DEBUG, INFO, WARNING, ERROR
  display_resolution: [1280, 720]

paths:
  input_source: "data/inputs/test_video 2.mp4"
  output_dir: "data/outputs/"
  model_dir: "models/"

# Phase 1 Settings
detection:
  model_weights: "models/yolov8n.pt" #TODO: will replace with v12n lated
  confidence_threshold: 0.5
  iou_threshold: 0.45
  target_classes: [0]      # COCO ID 0 = Person

# Phase 2: Action Recognition (FreeZAD)
action:
  # Model Architecture Name (Must match OpenCLIP library names)
  model_name: "coca_ViT-L-14"
  alert_trigger_count: 3
  # Path to the .bin file you just downloaded
  weights_path: "models/coca_l14.bin"
  # The window size (Time). 8 frames is the standard for video clips.
  window_size: 8
  # We don't need to analyze every single frame. We skip every 3rd frame to save GPU.
  stride: 4
  # Sensitivity. If score > 0.75, it's a fight.
  threshold: 0.75
  # The text prompts FreeZAD will search for
  prompts:
   - "a person punching"
   - "a person aggressively punching someone"
   - "people fighting"
   - "two people violently fighting each other"
   - "kicking someone"
   - "a person violently kicking someone on the ground"
   - "person falling down"
   - "a person violently collapsing and falling hard to the ground"
   - "shooting with gun"
   - "beating someone"
   - "injured"
   - "normal walking"    # Background class
   - "a person standing completely upright and casually walking forward"
   - "standing still"    # Background class
   - "a person standing completely still and doing nothing"